<h3>Add an evaluation</h3>

<%= form_for [@student, @student.evaluations.new] do |f| %>

  <div class='form-group'>
    <label>Date of evaluation</label>
    <%= f.date_select :evaluationdate, class: 'form-check' %>
  </div>

  <div class='form-group'>
    <label>Red</label>
    <%= f.check_box :red, class: 'form-check' %>
  </div>

  <div class='form-group'>
    <label>Yellow</label>
    <%= f.check_box :yellow, class: 'form-check' %>
  </div>

  <div class='form-group'>
    <label>Green</label>
    <%= f.check_box :green, class: 'form-check' %>
  </div>

  <div class='actions'>
    <%= f.submit "Add this evaluation for #{@student.name}", class: 'btn btn-primary' %>
  </div>
<% end %>
