<h3>Add a batch</h3>

<%= form_for @batch do |f| %>

  <ul>
    <% @batch.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
  <div class="form-group">
    <label>Batch</label>
    <%= f.text_field :name, class: "form-check" %>
  </div>

  <div class="form-group">
    <label>Starts at</label>
    <%= f.date_select :startdate, class: "form-check" %>
  </div>

  <div class="form-group">
    <label>Ends at</label>
    <%= f.date_select :enddate, class: "form-check" %>
  </div>


  <div class="actions">
    <%= f.submit "Add this batch", class: "btn btn-primary" %>
  </div>
<% end %>
