<h3>Add a student</h3>

<%= form_for [@batch, @student] do |f| %>

  <ul>
    <% @batch.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
  <div class='form-group'>
    <label>First name</label>
    <%= f.text_field :first_name, class: 'form-control' %>
  </div>

  <div class='form-group'>
    <label>Last name</label>
    <%= f.text_field :last_name, class: 'form-control' %>
  </div>

  <div class='form-group'>
    <label>Photo</label>
    <%= f.text_field :photo, class: 'form-control' %>
  </div>




  <div class='actions'>
    <%= f.submit "Add this student to #{@batch.name}", class: 'btn btn-primary' %>
  </div>
<% end %>
