<h1><%= @batch.name %></h1>
<p> This batch will be active between <%= @batch.startdate %> and <%= @batch.enddate %></p>

<% if @batch.students.any? %>
  <ul>
    <% @batch.students.each do |student| %>
      <li><%= link_to student.name, batch_student_path(@batch, student) %></li>
    <% end %>
  </ul>
<% else %>
  <p>This batch doesnt have any students yet.</p>
<% end %>
<hr>

<%= render 'studentform' %>
